## tuple data structures

In [2]:
t=(1,2,0.5,"hello")
type(t)

tuple

In [3]:
t=()
type(t)

tuple

In [5]:
t=2
type(t)

int

In [6]:
l=[10,20,"hello"]
type(l)

list

In [7]:
t=tuple(range(10))
print(t)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# t1=(1,2,3,4)
t2=(5,6,7,8)
t3=t1+t2
print(t3)

In [12]:
t1=(1,2,3,4)
print(id(t1))
t2=(5,6,7)
t1=t1+t2
print(id(t2))

2690045616272
2690044439808

In [13]:
t=(1,2,3,4)
print(t*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## len()

In [14]:
t=(10,20,4,5,6)
print(len(t))

5

## count()

In [16]:
t=(1,3,2,4)
print(t.count(1))

1

In [17]:
t=(1,4,7,6,3,1,)
print(t.count(1))

2

## index()

In [19]:
t=(1,1,2,3,4,5)
print(t.index(1))

0

# #sorted()

In [22]:
t=(1,2,3,45,54)
print(sorted(t))

[1, 2, 3, 45, 54]

In [23]:
t=(2,5,1,3,6)
print(sorted(t))

[1, 2, 3, 5, 6]

In [25]:
t=("python","c","java")
print(sorted(t))

['c', 'java', 'python']

# #minimum and maximum

In [26]:
t=(10,3,4,5,1)
print(min(t))

1

In [27]:
t=(10,3,5,61)
print(max(t))

61

In [28]:
t=("Python","java")
print(min(t))

Python

In [30]:
t=("Python","java")
print(max(t))

java

## cmp()

In [ ]:
*if the both tuples are equal returns 0.
*if first tuple is less then second tuple returns -1.
*if first tuple is greater then second tuple retuns +1

In [31]:
t1=(10,20,30)
t2=(40,50,60)
print(cmp(t1,t2))

NameError: name 'cmp' is not defined

In [32]:
t1=(10,20,30)
t2=(100,200,300)
if t1==t2:
    print("equal")
else:
    print("not equal")

not equal

In [34]:
t1=(10,20,30)
t1=(100,200,300)
if t1<t2:
    print("t1 is less than t2")
else:
    print("t1 is greater than t2")

t1 is greater than t2

# ##tuple packing and unpacking

In [35]:
a=1
b=10
c="python"
t=a,b,c
print(t)

(1, 10, 'python')

In [36]:
t=(10,20,30)
a,b,c=t
print(a)
print(b)
type(c)

10
20

int

In [37]:
t=("java",3.5,10)
a,b,c=t
print(a)
print(b)
print(c)
type(b)

java
3.5
10

float

In [39]:
t=("java",3.5,10)
a,b,c=t
print(a,b,c)
type(a)

java 3.5 10

str

## set data structures:

In [41]:
s={10,20,30}
print(s)
type(s)

{10, 20, 30}

set

### important functions in set

#### add()

In [43]:
s={10,30,50}
s.add(20)
print(s)

{10, 50, 20, 30}

In [ ]:
update():used to add multiple items of set

In [44]:
s={10,30,50}
l=[20,40,60]
s.update(l)
print(s)

{40, 10, 50, 20, 60, 30}

In [ ]:
copy()

In [49]:
s={10,20,30}
s1=s.copy()
print(s1)

{10, 20, 30}

In [50]:
s={10,20,30}
s1=s.copy()
print(id(s))
print(id(s1))

2690044523680
2690044526144

### remove()

In [51]:
s={100,200,300}
s.remove(300)
print(s)

{200, 100}

### pop()

In [52]:
s={10,20,30}
print(s.pop())
print(s)

10
{20, 30}

### discard():

In [ ]:
it removes the specified element from the set,if that element is not present in the set,it will return error.

In [54]:
s={10,20,30,40}
s.discard(30)
print(s)

{40, 10, 20}

### clear()

In [56]:
s={10,20,30}
s.clear()
print(s)

set()

In [ ]:
mathematicl operations on set

In [57]:
s1={1,2,3,4}
s2={5,6,7,8}
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

### union()

In [58]:
s1={10,20,30}
s2={40,50,60}
print(s.union(s2))

{40, 50, 60}

### intersection()

In [59]:
s1={10,20,30}
s2={10,60,40}
print(s1.intersection(s2))

{10}

In [60]:
s1={10,20,30}
s2={100,200}
print(s1.intersection(s2))

set()

### difference()

In [64]:
s1={10,20,30}
s2={10,30,50}
print(s1.difference(s2))

{20}

In [62]:
s1={10,20,30}
s2={20,30}
print(s1-s2)

{10}

### symmetric_difference()

In [63]:
s1={10,20,30}
s2={10,80,100}
print(s1.symmetric_difference(s2))

{100, 80, 20, 30}

In [65]:
s1={10,20,30}
s2={10,80,100}
print(s1^s2)

{100, 80, 20, 30}